input {
    border: 0.5px solid #3f2129;
    padding: 10px;
    border-radius: 5px;
  }
  
  #header {
    /* font-size: 20px; */
    box-sizing: border-box;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  #inputPart {
    padding: 20px;
    display: grid;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(232, 243, 243);
    grid-template: repeat(1fr) / auto;
  }
  @media screen and (max-width="290px") {
    #inputPart {
      min-width: 300px;
      display: inline-block;
    }
  }
  
  .entry {
    padding: 40px 20px 20px 20px;
    /* background: #ff0040; */
    font-weight: 500;
  }
  .item1 {
    grid-column-end: span 1;
  }
  .item2 {
    grid-column-end: span 1;
  }
  .item3 {
    grid-column-end: span 1;
  }
  .item4 {
    grid-column-end: span 1;
  }
  .item {
    text-align: right;
    align-items: right;
    /* border: 0.5px solid gray; */
    padding: 5px;
    /* width: 300px; */
  }
  
  #outputPart {
    display: none;
    box-sizing: border-box;
    transition: 700ms;
    /* width: 90%; */
  }
  
  #outputPart span {
    /* padding-top: px; */
    font-size: 20px;
    font-weight: 400;
  }
  
  button {
    color: white;
    background: salmon;
    padding: 10px;
    border-radius: 5px;
  }
  button:hover {
    cursor: pointer;
    background: rgb(194, 30, 30);
    color: rgb(238, 226, 226);
    transition: 700ms;
  }
  
  #resHeading {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    display: block;
  }
  
  #footer {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    /* height: 35vh; */
    background: #dc143c;
    padding-bottom: 11vh;
  }
  .para {
    display: flex;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    /* background: red; */
  }
  